.general {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333235;
}
.header {
    background-color: black;
    color:white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo {
    height: 100px;
}
.ref {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    flex: 1;
}
.li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}
.link {
    color: white;
    border-radius: 50px;
    padding: 10px 18px;
    background-color: #333235;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: inherit;
}
.link:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red, 0 0 200px red;
}
.link-logo:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red, 0 0 200px red;
}

.card{
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #333235;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.quantity-btn:hover {
    background-color: red;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red, 0 0 200px red;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

.promos {
    text-align: center;
    padding: 20px;
}
.promo-item {
    display: inline-block;
    margin: 20px;
    text-align: center;
    background-color: gray;
    padding: 10px;
    border-radius: 8px;
}
#confirmation-message {
    padding: 10px;
    border: 1px solid green;
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
    text-align: center;
}